# Rust artifacts
target/
Cargo.lock

# Node artifacts
build/
prebuilds/
node_modules/
package-lock.json

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.exp
*.lib

# Example dirs
/examples/*/

# Grammar volatiles
/src/parser.c
*.wasm
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip

.npmrc
