name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Node 24 requires C++ 20, presumably in binding.gyp.
        #
        # https://nodejs.org/en/blog/migrations/v22-to-v24#cc-addons
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

      - uses: dtolnay/rust-toolchain@1.89.0
      - name: Run tests for Rust bindings
        run: cargo t
